{% extends "rango/base.html" %}
{% load bootstrap_toolkit %}

{% block body_block %}
    <h2 class="form-signin-heading">Login</h2>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <br/>
        <button class="btn btn-primary" type="submit" name="submit">
            Log in
        </button>
    </form>
    <br/>
    <p>
        Não é membro?
        <a href="{% url 'registration_register' %}">Registre-se!</a>
    </p>
    <p>
        <a href="{% url 'auth_password_change' %}">Quer alterar sua senha?</a>
    </p>


{% endblock %}