{% extends "rango/base.html" %}
{% load bootstrap_toolkit %}

{% block body_block %}
    <h1>Registre-se Aqui</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <br/>
        <button class="btn btn-primary" type="submit" name="submit">
            Enviar
        </button>
    </form>
{% endblock %}