{% extends 'rango/base.html' %}
{% load bootstrap_toolkit %}

{% block title_block %}
    Adicionar Nova Categoria
{% endblock title_block %}

{% block body_block %}
    <h2 class="form-signin-heading">Adicione uma nova categoria</h2>
    <div>
        <form role="form" id="category_form" method="post" action="{% url 'add_category' %}">
            {% csrf_token %}
            {{ form|as_bootstrap }}
{#            {% for hidden in form.hidden_fields %}#}
{#                {{ hidden }}#}
{#            {% endfor %}#}
{#            {% for field in form.visible_fields %}#}
{#                {{ field.errors }}#}
{#                {{ field.help_text }}#}
{#                {{ field }}#}
{#            {% endfor %}#}
            </br>
            <button class="btn btn-primary" type="submit" name="submit">
                Criar Categoria
            </button>
        </form>
    </div>
{% endblock body_block %}