{% extends 'rango/base.html' %}
{% load bootstrap_toolkit %}

{% block title_block %}
    Adicionar página em {{ category.name }}
{% endblock title_block %}

{% block body_block %}
    <h2 class="form-signin-heading">
        Adicione uma página na categoria
        <a href="/rango/category/{{category.slug}}/">{{ category.name }}</a>
    </h2>
    <form role="form" id="page_form" method="post" action="{% url 'add_page' category.slug %}">
        {% csrf_token %}
        {{ form|as_bootstrap }}
{#        {% for hidden in form.hidden_fields %}#}
{#            {{ hidden }}#}
{#        {% endfor %}#}
{#        {% for field in form.visible_fields %}#}
{#            {{ field.errors }}#}
{#            {{ field.help_text }} <br/>#}
{#            {{ field }} <br/>#}
{#        {% endfor %}#}
        <br/>
        <button class="btn btn-primary" type="submit" name="submit">
            Criar página em {{ category.name }}
        </button>
    </form>
{% endblock body_block %}