<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}

<html>
<head>
    <title>
        Rango -
        {% block title_block %}
            How to Tango with Django!
        {% endblock title_block%}
    </title>
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
</head>
<body>
<div>
    {% block body_block %}
    {% endblock %}
</div>
<hr />
<div>
    <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'add_category' %}">Adicionar Nova Categoria</a></li>
        {% else %}
            <li><a href="{% url 'register' %}">Inscreva-se</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        <li><a href="{% url 'index' %}">Home</a></li>
    </ul>
</div>
<hr />
<div>
    {% block sidebar_block %}
        {% get_category_list category%}
    {% endblock %}
</div>
</body>
</html>