{% extends 'rango/base.html' %}

{% block body_block %}
    <link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css"
          rel="stylesheet">
    <div class="jumbotron">
        <h2 class="display-3">Login</h2>
    </div>
    <form class="form-signin" role="form" method="post" action={% url 'login' %}>
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" name="username" id="username" class="form-control"
               placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="password" class="form-control"
               placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit"
                value="Submit" />Sign in</button>
    </form>
{% endblock %}
